#episode-container {
  box-sizing: border-box;
  width: 100%;
  max-width: 660px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
  display: grid;
  grid-template-rows: 8em 2fr 8em 1fr;
  align-items: center;
}

.helper-text {
  font-size: 1.2em;
  color: #052525;
}

.buttons-bar {
  display: flex;
  justify-content: center;
}

.buttons-bar a:last-of-type {
  margin-left: 2em;
}