* {
  font-family: 'Proxima Nova', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;
}

html, body {
  background-color: #efefef;
  color: #052525;
}

html, body, #root, .App {
  height: 100%;
  width: 100%;
}

.App {
  text-align: center;
}