* {
  font-family: 'Proxima Nova', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;
}

html, body {
  background-color: #dcdcdc;
  color: #052525;
  font-size: 18px;
}

html, body, #root, .App {
  height: 100%;
  width: 100%;
}

.series-tiles {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 5vw;
  box-sizing: border-box;
  padding: 5vw;
}

@media only screen and (max-width: 768px) {
  html, body {
    font-size: 16px;
  }
}

@media only screen and (max-width: 500px) {
  html, body {
    font-size: 14px;
  }
}