* {
  font-family: 'Proxima Nova', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;
}

html, body {
  background-color: #efefef;
  color: #052525;
  font-size: 18px;
}

html, body, #root, .App {
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  html, body {
    font-size: 16px;
  }
}

@media only screen and (max-width: 500px) {
  html, body {
    font-size: 14px;
  }
}